<div class="assets">
  <aside class="assets__sidebar">
    <Assets::Filter @currentAssetTypes={{@currentAssetTypes}} @updateAssetTypeState={{@updateAssetTypeState}}/>
  </aside>
  <main class="assets__main">
    <Assets::Grid @assets={{@assets}} @onUseAsset={{@onUseAsset}}/>
  </main>
</div>