<div class="assets">
  <aside class="assets__sidebar">
    <AssetsFilter @currentAssetTypes={{@currentAssetTypes}} @updateAssetTypeState={{@updateAssetTypeState}}/>
  </aside>
  <main class="assets__main">
    <AssetsGrid @assets={{@assets}} @onUseAsset={{@onUseAsset}}/>
  </main>
</div>