@import './common/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import "./assets/_index.css";
@import "./tags/index.css";

:root {
  --color-text-primary: #575757;
  --bg-color-primary: #e5e5e5;
  --font-title: 900 13px/18px 'Lato', sans-serif;
  --font-description: 400 13px/16px 'Lato', sans-serif;
  --font-link: 400 10px/14px 'Lato', sans-serif;
  --border-radius-primary: 4px;
}

body {
  background-color: var(--bg-color-primary);
  font-family: 'Lato', sans-serif;
  color: var(--color-text-primary);
}


